{% set count = ds_content.field_feature_count|render|trim|striptags %}
{% set name = ds_content.field_feature_list|render|trim|striptags %}
<div class="col-xl-3 col-md-6 cp-item">
          <div class="circle-progress" data-cpid="id-1" data-cpvalue="{{ count }}" data-cpcolor="#787878" data-cptitle="{{ name }}"></div>
        </div>








