/**
 * @file
 * SCSS file to generate CSS.
 *
 * Grid SCSS
 */

.container-930 {
  max-width: 960px; /* width: 930px + padding: 30px = 960px */
  margin: 0 auto;
  padding: 0 15px;
}

.container-775 {
  max-width: 805px; /* width: 775px + padding: 30px = 805px */
  margin: 0 auto;
  padding: 0 15px;
}

.container-580 {
  max-width: 610px; /* width: 580px + padding: 30px = 610px */
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .container {
    .container,
    .container-930,
    .container-775,
    .container-580 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.container-sm {
  @extend .container-930;
}

.container-xs {
  @extend .container-775;
}

.container-xsm {
  @extend .container-580;
}
.container-sm,
.container-xs,
.container-xsm {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: $mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
