<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>product-detail</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/style.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section class="grey-dark-bg product-detail-page">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-report">
              <h2>Physical</h2>
              <div class="card-body">
                <ul>
                  <li>
                    <span class="list-title">Specific Gravity</span>
                    <span class="list-val">2.65</span>
                  </li>
                  <li>
                    <span class="list-title">Hardness -- Moh's Scale</span>
                    <span class="list-val">7</span>
                  </li>
                  <li>
                    <span class="list-title">Moisture %</span>
                    <span class="list-val">&#60;0.1</span>
                  </li>
                  <li>
                    <span class="list-title">Loss of Ignition %</span>
                    <span class="list-val">0.1</span>
                  </li>
                  <li>
                    <span class="list-title">pH Value</span>
                    <span class="list-val">7.1</span>
                  </li>
                  <li>
                    <span class="list-title">Bulk Density (lbs/ft.3 loose)</span>
                    <span class="list-val">7.1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-report">
              <h2>Chemical</h2>
              <div class="card-body">
                <ul>
                  <li>
                    <span class="list-title">SiO2</span>
                    <span class="list-val">98.17%</span>
                  </li>
                  <li>
                    <span class="list-title">Fe2O3</span>
                    <span class="list-val">.95%</span>
                  </li>
                  <li>
                    <span class="list-title">CaO</span>
                    <span class="list-val">.32%</span>
                  </li>
                  <li>
                    <span class="list-title">MgO</span>
                    <span class="list-val">.03%</span>
                  </li>
                  <li>
                    <span class="list-title">Al2O3</span>
                    <span class="list-val">.20%</span>
                  </li>
                  <li>
                    <span class="list-title">Na2O</span>
                    <span class="list-val">.04%</span>
                  </li>
                  <li>
                    <span class="list-title">K2O</span>
                    <span class="list-val">.03%</span>
                  </li>
                  <li>
                    <span class="list-title">TiO2</span>
                    <span class="list-val">.01%</span>
                  </li>
                  <li>
                    <span class="list-title">P2O5</span>
                    <span class="list-val">&#60;.01%</span>
                  </li>
                  <li>
                    <span class="list-title">Cr2O3</span>
                    <span class="list-val">.002%</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-report">
              <h2>Properties <sub>ISO 13503 - 2</sub></h2>
              <div class="card-body">
                <ul>
                  <li>
                    <span class="list-title">Specific Gravity</span>
                    <span class="list-val">2.65</span>
                  </li>
                  <li>
                    <span class="list-title">Hardness -- Moh's Scale</span>
                    <span class="list-val">7</span>
                  </li>
                  <li>
                    <span class="list-title">Moisture %</span>
                    <span class="list-val">&#60;0.1</span>
                  </li>
                  <li>
                    <span class="list-title">Loss of Ignition %</span>
                    <span class="list-val">0.1</span>
                  </li>
                  <li>
                    <span class="list-title">pH Value</span>
                    <span class="list-val">7.1</span>
                  </li>
                  <li>
                    <span class="list-title">Bulk Density (lbs/ft.3 loose)</span>
                    <span class="list-val">7.1</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-report">
              <div class="card-body text-center">
                <h4>Size Specification for Silwite Four is 85% passing 325 mesh</h4>
                <div class="">
                  <p>Mesh Size</p>
                  <p>Canadian Standard Sieve Sizes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- jQuery library -->
    <script src="../assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/site.min.js"></script>
  </body>
</html>
