{% set title = ds_content.title|render|trim|striptags %}
{% set paragraph = ds_content.field_paragraph|render|trim|striptags %}
{% set image = ds_content.field_paragraph_image|render|trim|striptags %}
{% set sub_title = ds_content.field_sub_title|render|trim|striptags %}
<section class="intro-section sp-pad spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 intro-text">
        <span class="sp-sub-title">{{ title|render|trim|striptags }}</span>
        <h3 class="sp-title">{{ sub_title|render|trim|striptags }}</h3>
        <p>{{ paragraph|render|trim|striptags }}</p>
      </div>
      <div class="col-xl-7 offset-xl-1">
        <figure class="intro-img mt-5 mt-xl-0">
          <img src="{{ image|render|trim|striptags }}" alt="">
        </figure>
      </div>
    </div>
  </div>
</section>



