{% set title = ds_content.field_title|render|trim|striptags %}
{% set url = ds_content.field_url|render|trim|striptags %}
<li>
  <span class="eqp-list">{{ title }}</span>
  <div class="eqp-apply">
    {{ field_apply }}
  </div>
</li>


