
<section class="location-map grey-dark-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 map-gp">
              <div class="card-location container-xs">
                <h2>locations</h2>
                <div class="body">
                    <div class="card card-map white-dark-bg">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.672773179593!2d-114.06256748424717!3d51.040664179561226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53717003a2c1d253%3A0x89cb06458593b1d8!2s1212+1+St+SE+%23204%2C+Calgary%2C+AB+T2G+0G8%2C+Canada!5e0!3m2!1sen!2sin!4v1501595984169" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                      <address>
                        <div class="address">
                          <strong>Head Office</strong><br>
                          Suite 204, 1212 - 1st Street SE<br>
                          Calgary, Alberta   T2G 2H8
                        </div>
                        <div class="contact">
                          <p><a href="#">(403) 261-3999</a></p>
                          <p><a href="#">sales@northernsilica.com</a></p>
                        </div>
                      </address>
                    </div>
                    <div class="card card-map white-dark-bg">
                    <iframe frameborder="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q={{ address }}&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        <div class="address">
                          <strong>Head Office</strong><br>
                          1725 Blaeberry River Road East,<br>
                          Golden, B.C. V0A 1H1
                        </div>
                        <div class="contact">
                          <p><a href="#">(250) 344-7171</a></p>
                          <p><a href="#">sales@northernsilica.com</a></p>
                        </div>
                      </address>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
{{ ds_content.field_opportunity_eck_reference }}




